# Python
__pycache__/
*.pyc
*.pyo
db.sqlite3
*.egg-info/
.env
venv/

# Django
backend/media/
backend/staticfiles/
backend/_email_previews/
backend/secrets/

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
